.social-area .social a {
    border-radius: 0%;
    background-image: none;
    box-shadow: none;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#banner-section .banner-content .main-content .item.one {
    box-shadow: 2.7px 0px 3px 0px rgb(233 165 165 / 80%);
}
 

#banner-section .banner-content .main-content .item.two {
    box-shadow: 2.7px 4.879px 3px 0px rgb(233 165 165 / 80%);
}

#banner-section .banner-content .main-content .item.three {
    box-shadow: 2.7px 0px 3px 0px rgb(233 165 165 / 80%);
}

#banner-section .banner-content .main-content .item.four {
    box-shadow: 2.7px 4.879px 3px 0px rgb(233 165 165 / 80%);
}

.my-download 
{
    box-shadow: 2.7px 4.879px 3px 0px rgb(233 165 165 / 80%);
}

.title {
    font-size: 40px;
}

#product-items .single-item .img-area p {
    right: 1px;
    border-radius: 4px;
    /* background-color: rgb(128, 70, 248); */
    opacity: 0.9;
}

#product-items .single-item .text-area h1 {
    margin: 40px 0 13px 0;
    font-weight: 500;
}

#banner-section .text-area h5 {
    font-size: 18px;
    color: #8C3A32;
    line-height: 0.0;
    margin-left: 140px;
    margin-top: -10px;
}

#banner-section .text-area h2 {
    font-size: 42px;
    color: rgb(49, 21, 103);
    font-family: 'GlacialIndifference';
    font-weight: 800;
    line-height: 88px;
    margin: 0 0 40px 0;
    margin-left: 140px;
}

.cmn-btn-second {
    font-size: 13px;
}

.btn-icon {
    height: 1px;
    width: 20px;
    transition: all 0.7s;
}

#banner-section .text-area .contact_me {
    margin-top: -40px;
    margin-left: 140px;
}

h1, h1>a {
    font-size: 30px;
    line-height: 46px;
}

 /* blog page */
 #single-blog .single-step h1.title {
    font-size: 36px;
    color: rgb(59, 54, 140);
    font-weight: bold;
    line-height: 1.278;
    margin-bottom: 12px;
}